ENVIRONMENT=development or production
SECRET_KEY=your-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1
AppID=Your-ZEGOCLOUD-AppID
ServerSecret=Your-ZEGOCLOUD-ServerSecret
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
DATABASE_URL=YOUR_DATABASE_URL
EMAIL=YOUR_EMAIL_ADDRESS_HERE
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD_HERE